:root {
  --clr-primary: #fff;
  --clr-secondary: #181818;
  --clr--accent: #452a85;
}
body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
}

h1,
h2 {
  color: var(--clr--accent);
  margin-top: 0;
}

tr:nth-of-type(2n) {
  background-color: #f5f5f5;
}
.container {
  padding: 2rem;
}

.far {
  font-size: 8em;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'player computer'
    'results results';
  gap: 2em;
}

#user {
  grid-area: player;
}
#computer {
  grid-area: computer;
}

.game__results {
  grid-area: results;
}
.game__results-heading {
  font-weight: 400;
  font-size: 1.6em;
}
.results {
  width: 100%;
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.results__icon {
  font-size: 2em;
}
.results__header {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}
.results__item {
  text-align: left;
  padding: 0.5em 0.25em;
}
.results__item_winner {
  text-transform: capitalize;
}

.player {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.player__name {
  font-size: 1.6em;
  color: var(--clr--accent);
}
.player__choices {
  display: flex;
  gap: 1em;
}

.choice {
  all: unset;
  display: inline-block;
  border: 1px solid var(--clr-secondary);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 300ms ease-in-out, color 300ms ease-in-out,
    transform 100ms ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .choice:hover,
  .choice:focus {
    background: var(--clr-secondary);
    color: var(--clr-primary);
  }
}
.choice:active {
  transform: scale(0.96);
}
.choice:disabled {
  opacity: 0.2;
  cursor: unset;
}
.choice:disabled:hover {
  background: unset;
  color: unset;
}
.choice:disabled:active {
  transform: none;
}

.win {
  color: #32a852 !important;
}
.lose {
  color: #cf362b !important;
}

.animate-choice {
  animation: 500ms ease-in-out 3 animate-choice;
}

@keyframes animate-choice {
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .game {
    grid-template-areas:
      'player player'
      'computer computer'
      'results results';
  }
  .far {
    font-size: 3em;
  }
  .player__choices {
    gap: 0.5em;
  }
  .results__icon {
    font-size: 2em;
  }
  .container {
    padding: 1rem;
  }
}
