:root {
  --clr-primary: #fff;
  --clr-secondary: #181818;
  --clr-accent: #452a85;
  --clr-green: #32a852;
  --clr-red: #cf362b;
}
body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
}

h1,
h2 {
  color: var(--clr-accent);
  margin-top: 0;
}

tr:nth-of-type(2n) {
  background-color: #f5f5f5;
}

.popup {
  position: absolute;
  top: 1rem;
  left: 2rem;
  right: 2rem;
  z-index: 999;
  background-color: var(--clr-primary);
  color: var(--clr-scondary);
  border-left: 0.5em solid var(--clr-accent);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity 300ms, transform 300ms;
}
.popup_show {
  opacity: 1;
  transform: translate(0);
}
.popup__button {
  background: var(--clr-accent);
  color: var(--clr-primary);
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 1rem;
  font: inherit;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 300ms, transform 100ms;
}
.popup__button:hover {
  background-color: #321f61;
}
.popup__button:active {
  transform: scale(0.98);
}
.popup__button_close {
  background: var(--clr-red);
}
.popup__button_close:hover {
  background-color: #a92c23;
}
.popup_success {
  border-left: 0.5em solid var(--clr-green);
}

.popup_failure {
  border-left: 0.5em solid var(--clr-red);
}
.popup__buttons {
  display: flex;
  gap: 0.5em;
}

.container {
  padding: 2rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.far {
  font-size: 8em;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'player computer'
    'results results';
  gap: 2em;
}

#user {
  grid-area: player;
}
#computer {
  grid-area: computer;
}

.game__results {
  grid-area: results;
}
.game__results-heading {
  font-weight: 400;
  font-size: 1.6em;
}
.results {
  width: 100%;
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.results__icon {
  font-size: 2em;
}
.results__header {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}
.results__item {
  text-align: left;
  padding: 0.5em 0.25em;
}
.results__item_winner {
  text-transform: capitalize;
}

.player {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.player__name {
  font-size: 1.6em;
  color: var(--clr-accent);
}
.player__choices {
  display: flex;
  gap: 1em;
}

.choice {
  all: unset;
  display: inline-block;
  border: 1px solid var(--clr-secondary);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 300ms ease-in-out, color 300ms ease-in-out,
    transform 100ms ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .choice:hover,
  .choice:focus-visible {
    background: var(--clr-secondary);
    color: var(--clr-primary);
  }
}
.choice:active {
  transform: scale(0.96);
}
.choice:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.choice:disabled:hover {
  background: unset;
  color: unset;
}
.choice:disabled:active {
  transform: none;
}

.win {
  color: var(--clr-green) !important;
}
.lose {
  color: var(--clr-red) !important;
}

.animate-choice {
  animation: 500ms ease-in-out 3 alternate animate-choice;
}

@keyframes animate-choice {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .game {
    grid-template-areas:
      'player player'
      'computer computer'
      'results results';
  }
  .far {
    font-size: 3em;
  }
  .player__choices {
    gap: 0.5em;
  }
  .results__icon {
    font-size: 2em;
  }
  .container {
    padding: 1rem;
  }
  .popup {
    left: 1rem;
    right: 1rem;
  }
  .popup__buttons {
    flex-direction: column;
  }
}
